/* Put your CSS here */
.ember-application {
    margin: 20px;
}

.table-container {
  height: 1000px;
}

.bar-cell {
height: 29px!important;
display: inline-block;
vertical-align: middle;
}

.blue {
background-color: #fd7400;
}
